<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="9" >
  <test name="Regression3" >
    <classes>
       <class name="com.demo.selenium.automation.BRS_1_GoogleTest" />
        <class name="com.demo.selenium.automation.BRS_3_GoogleTest" />

    </classes>
  </test>
 
  
</suite>
